/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto;background-color: #f9f9f9 !important; }
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{border-color:#ff8a48;}
.mat-radio-button.mat-accent .mat-radio-inner-circle{color:#ff8a48;background-color:#ff8a48;}
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {background-color:rgba(255, 72, 0, 0.568);}
.mat-accent .mat-slider-thumb {background-color: #ff8a48;} 
.mat-accent .mat-slider-thumb-label {background-color: #ff8a48;} 
.mat-accent .mat-slider-track-fill {background-color: #ff8a48;}
.mat-menu-panel{z-index:2000;}
carousel{z-index:1000 !important;}